<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Where you can find us:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<div>
<p>Böhmenstraße 86</p>
<p>89547 Gerstetten</p>
<p>Germany</p>
</div>

<div id="map" style="width: 70%;height: 70%;"></div>

</ion-content>