<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 

    <ion-title>What do you think about us?</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingIcon="arrow-down-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-button (click)="openCreateComment()">Create a new comment</ion-button >
  <!-- <ion-button (click)="clearStorage()">Clear Storage</ion-button > -->

  <ion-card *ngFor ="let i of feedbacks">
    <h3>{{i.scale}} /10</h3>
    <ion-card-content>
      <p>{{i.comment}}</p>
      <p>{{i.name}}, {{i.email}}</p>
    </ion-card-content>
  </ion-card>
  
</ion-content>
